<header class="row">
    <nav class="col-md-8 col-md-offset-2">
        <ul class="nav nav-pills">
            <li><a routerLinkActive="active" [routerLink]="['/']">Nightlife</a></li>
            <li><a routerLinkActive="active" [routerLink]="['/auth/signup']" *ngIf="!hasToken()">Sign Up</a></li>
            <li><a routerLinkActive="active" [routerLink]="['/auth/login']" *ngIf="!hasToken()">Login</a></li>
            <li><a routerLinkActive="active" [routerLink]="['/']" *ngIf="hasToken()" (click)="onLogout()">Logout</a></li>
        </ul>
    </nav>
</header>
