<div *ngIf="hasToken()">
    <button (click)="testProtected()"class="btn btn-primary" >Test Protected</button>
</div>
<h1>Welcome to the my nightlife app!</h1>
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group">
        <label for="location">Location</label>
        <input 
            type="text"
            class="form-control"
            id="location"
            required
            ngModel
            name="location">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>
<nl-venue-display></nl-venue-display>
